:root {
  --mainBlue  : #2a2a72;
  --lightBlue : #009ffd;
  --mainWhite : #f3f3f3;
  --mainDark  : #232528;
  --mainYellow: #ffa400;
  --buy-color : rgb(64, 205, 40);
}


html {
  height    : 100%;
  width     : 100%;
  margin    : 0;
  padding   : 0;
  overflow-x: hidden;
}

body {
  font-family: "Muli", sans-serif;
  background : #fff;
  color      : var(--mainDark);
}