:root {
  --mainBlue  : #2a2a72;
  --lightBlue : #009ffd;
  --mainWhite : #f3f3f3;
  --mainDark  : #232528;
  --mainYellow: #ffa400;
  --buy-color : rgb(0, 166, 0);
}

* {
  font-family: "Cabin", sans-serif;
}


html {
  margin    : 0;
  padding   : 0;
  overflow-x: hidden;
}

body {
  overflow-x      : hidden;
  margin          : 0;
  width           : 100vw;
  height          : 100vh;
  background-color: #eee;
  color           : var(--mainDark);
}